*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

button {
  font: inherit;
}

img {
  max-width: 100%;
}

/* UTILS */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 1.5rem 0;
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 1.5rem 0;
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1408px) {
  .container {
    padding: 1.5rem 0;
    max-width: 1344px;
  }
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: #ecf0f1;
  border-radius: 10px;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.active .link::after,
.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section-title {
  margin-bottom: 1.75rem;
  text-align: center;
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  min-width: 115px;
  height: 6px;
  border-radius: 10px;
  transform: translateX(-100%);
  background-color: #78070a;
}

.btn {
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}

.btn:active {
  transform: scale(0.97);
}

.btn--primary {
  background-color: #78070a;
  color: #ecf0f1;
}

.btn--primary:hover {
  background-color: #970b10;
}

.btn--secondary {
  border: 2px solid #78070a;
  background-color: #ecf0f1;
  color: #78070a;
}

.btn--secondary:hover {
  background-color: #78070a;
  color: #ecf0f1;
}

/* TOP BAR */
.top-bar {
  display: none;
  background-color: rgba(120, 7, 10, 0.9);
  color: #ecf0f1;
}

.top-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.top-bar ul {
  list-style-type: none;
}

.top-bar .contact,
.top-bar .social {
  display: flex;
  gap: 1rem;
}

.top-bar .contact li {
  display: flex;
  gap: 0.5rem;
}

.top-bar .social i {
  font-size: 1.5rem;
}

.top-bar .social i:hover {
  animation: shake 4.72s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@media only screen and (min-width: 992px) {
  .top-bar {
    display: block;
  }
}

/* PRIMARY HEADER */

.primary-header {
  background-color: #78070a;
  background-image: url('./images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
  color: #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.primary-header .container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.primary-header ul {
  list-style-type: none;
}

.logo-img {
  max-width: 75px;
}

.logo-text {
  font-size: 1.4rem;
  font-weight: bold;
}

.logo-text-desktop {
  display: none;
}

.primary-header nav {
  margin-left: auto;
}

.primary-header #menu-btn,
.primary-header #close-btn {
  cursor: pointer;
}

.primary-header #nav-list {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #78070a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;
  transform: translateX(50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.primary-header #nav-list.open-nav {
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
}

.primary-header #nav-list a {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.primary-header #nav-list a::before {
  font: var(--fa-font-solid);
  content: '\f19d';
  position: absolute;
  top: -25px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.25s ease-in-out;
}

.primary-header #nav-list .active a::before {
  opacity: 1;
}

.primary-header #menu-btn {
  width: 35px;
  cursor: pointer;
}

.primary-header #close-btn {
  width: 30px;
  margin: 2.3rem 1rem;
  top: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .primary-header #menu-btn,
  .primary-header #close-btn {
    display: none;
  }

  .primary-header #nav-list {
    position: static;
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
    flex-direction: row;
    gap: 1rem;
    background-color: transparent;
  }

  .primary-header #nav-list a {
    font-size: 1rem;
  }

  .primary-header #nav-list .active a::before {
    top: -20px;
  }
}

@media only screen and (min-width: 1200px) {
  .primary-header .logo-img {
    max-width: 100px;
  }

  .primary-header .logo-text-desktop {
    display: block;
  }

  .primary-header .logo-text-mobile {
    display: none;
  }
}

/* ABOUT SECTION */
#about {
  background: rgb(236, 240, 241);
  background: linear-gradient(
    135deg,
    rgba(236, 240, 241, 1) 70%,
    rgba(133, 8, 11, 1) 30%
  );
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.hero-left p {
  line-height: 1.5rem;
}

.hero-left p span {
  font-weight: bold;
}

.hero-left .btn {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.hero-left .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  font-size: 0.8rem;
}

.hero-left .buttons .btn {
  flex-grow: 1;
}

.hero-right img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

@media only screen and (min-width: 500px) {
  .hero-left .cta {
    align-self: center;
  }

  .hero-left .buttons {
    justify-content: center;
  }

  .hero-left .buttons .btn {
    flex-grow: initial;
  }
}

@media only screen and (min-width: 1200px) {
  #about {
    min-height: calc(100vh - 146px - 41px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .hero {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .hero-left,
  .hero-right {
    flex: 1;
  }

  .hero-left .section-title,
  .hero-left {
    text-align: left;
  }

  .hero-left .section-title::after {
    left: -8%;
    transform: translateX(0%);
  }

  .hero-left .cta {
    align-self: flex-start;
  }

  .hero-left .buttons {
    margin-top: 0.75rem;
    justify-content: flex-start;
  }

  .hero-left {
    animation: slide-in-left 0.75s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
  }

  .hero-right {
    animation: slide-in-top 0.75s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
  }
}

/* NEWS */

#news {
  background-color: #f9f9f9;
}

#news .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-card {
  border-radius: 10px;
  overflow: hidden;
  background-color: #ecf0f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.news-card .card-image {
  overflow: hidden;
}

.news-card .card-image a {
  display: block;
}

.news-card .card-image img {
  vertical-align: middle;
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
  transition: transform 0.25s ease-in-out;
}

.news-card .card-image img:hover {
  transform: scale(1.15);
}

.news-card .card-title {
  padding: 1rem;
  text-align: center;
}

.news-card .card-title a {
  color: #970b10;
}

.news-card .card-title a:hover {
  text-decoration: underline;
}

.news-card .card-content {
  padding: 1rem;
  display: none;
  line-height: 1.5rem;
}

@media only screen and (min-width: 550px) {
  .news-card {
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .news-card .card-title {
    text-align: left;
    align-self: end;
  }

  .news-card .card-image {
    grid-row: 1 / span 2;
  }

  .news-card .card-image a,
  .news-card .card-image img {
    height: 100%;
  }

  .news-card .card-content {
    display: initial;
    grid-column: 2 / -1;
    align-self: start;
    padding-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper {
    flex-direction: row;
  }

  .news {
    flex-basis: 70%;
  }
}

/* TABS */

.tabs {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ecf0f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.tabs .tab-input {
  display: none;
}

.tabs .tab-label {
  flex: 1 1 50%;
  text-align: center;
  padding: 0.75rem 0;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  transition: border-bottom 0.25s ease-in-out, color 0.25s ease-in-out;
}

.tabs .tab-content {
  order: 1;
  width: 100%;
  padding: 1rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.tabs .tab-content-item {
  display: grid;
}

.tabs .tab-content.two-col .tab-content-item {
  grid-template-columns: auto 1fr;
}

.tabs .tab-content-item:not(:last-of-type) {
  padding-bottom: 0.75rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.tabs .tab-content-item {
  line-height: 1.5rem;
}

.tabs .tab-content-item a {
  color: #970b10;
}

.tabs .tab-content-item a:hover {
  text-decoration: underline;
}

.tabs .tab-content .tab-content-item .title {
  padding: 0 0.75rem 0.75rem 0.75rem;
}

.tabs .tab-content-item .date {
  grid-column: 1 / -1;
  text-align: right;
  font-size: 0.8rem;
}

.tabs .tab-content .description {
  margin-top: 0.5rem;
}

.tabs .tab-label:hover,
.tabs .tab-input:checked + .tab-label {
  color: #78070a;
  border-color: #78070a;
}

.tabs .tab-input:checked + .tab-label + .tab-content {
  display: flex;
}

@media only screen and (min-width: 650px) {
  .tabs .tab-label {
    flex: 1 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .tabs {
    position: sticky;
    top: 0;
    flex-basis: 30%;
    align-self: flex-start;
  }

  .tabs .tab-label {
    flex: 1 1 50%;
    padding: 0.75rem;
  }
}

/* KEYFRAMES */

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
